{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block sidebar_links %}

```
<!-- HERKES -->
<li>
    <a href="{{ url_for('dashboard') }}">
        Dashboard
    </a>
</li>


<!-- ADMIN + EXPERT -->
{% if session["role"] in ["admin", "expert"] %}

    <li>
        <a href="{{ url_for('new_delivery') }}">
            New Delivery
        </a>
    </li>

    <li>
        <a href="{{ url_for('all_deliveries') }}">
            Delivery Records
        </a>
    </li>

    <li>
        <a href="#">
            Search Farmer
        </a>
    </li>

{% endif %}


<!-- SADECE ADMIN -->
{% if session["role"] == "admin" %}

    <li>
        <a href="#">
            User Management
        </a>
    </li>

    <li>
        <a href="#">
            Farmer Management
        </a>
    </li>

{% endif %}


<!-- SADECE FARMER -->
{% if session["role"] == "farmer" %}

    <li>
        <a href="#">
            My Deliveries
        </a>
    </li>

{% endif %}


<!-- HERKES -->
<li>
    <a href="#">
        Statistics
    </a>
</li>

<li>
    <a href="#">
        AI Assistant
    </a>
</li>

<li>
    <a href="{{ url_for('logout') }}">
        Logout
    </a>
</li>
```

{% endblock %}

{% block content %}

```
<header class="dashboard-header">

    <h1 class="name_surname">
        Welcome,
        {{ session["first_name"] }}
        {{ session["last_name"] }} 👋
    </h1>


</header>


{% if session["role"] == "admin" %}

    <section class="dashboard-section">
        <h2>Admin Dashboard</h2>

        <p>
            You have full access to the Tea Tracking System.
        </p>
    </section>

{% elif session["role"] == "expert" %}

    <section class="dashboard-section">
        <h2>Expert Dashboard</h2>

        <p>
            Manage tea deliveries and farmer records.
        </p>
    </section>

{% elif session["role"] == "farmer" %}

    <section class="dashboard-section">
        <h2>Farmer Dashboard</h2>

        <p>
            View your deliveries and production statistics.
        </p>
    </section>

{% endif %}
```

{% endblock %}
