
{% block title %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<!-- Buraya eski body'nin içindeki her şeyi aynen yapıştırıyorsun -->
<div class="login-container">

        <!-- Sol Taraf -->
        <div class="left-panel">

            <div class="overlay">

                <h1>Tea Tracking System</h1>

                <p>
                    Smart Tea Production Management Platform
                </p>

            </div>

        </div>

        <!-- Sağ Taraf -->
        <div class="right-panel">

            <div class="login-card">

                <img src="{{ url_for('static', filename='images/tea_logo.jpg') }}"
                     alt="ÇAY Logo"
                     class="logo">

                <h2>Welcome Back</h2>

                <p>Please sign in to continue.</p>

                <form action="/", method="post">

                    <div class="input-group">

                        <label for="tc">
                            Turkish Identity Number
                        </label>

                        <input
                            type="text"
                            id="tc"
                            name="tc"
                            placeholder="Enter your TC Identity Number"
                            maxlength="11">

                    </div>

                    <div class="input-group">

                        <label for="password">
                            Password
                        </label>

                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter your password">

                    </div>

                    <button type="submit">
                        Login
                    </button>

                </form>

            </div>

        </div>

    </div>
{% endblock %}
